// Font size
$font-size-xSml: calc(0.3rem + 0.8vw);
$font-size-sml: calc(0.5rem + 0.8vw);
$font-size-med: calc(0.75rem + 1vw);
$font-size-lrg: calc(0.2rem + 3vw);
$font-size-xLrg: calc(1rem + 1vw);

// Colors
$red: #e50914;
$black: #141414;
$white: #FFFFFF;
$light-grey: #e5e5e5;
$grey: grey;
